

/* Добавляем стили для псевдоэлементов ::before и ::after */
.continue-with::before,
.continue-with::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 5px;
}

/* Общие стили для текста внутри <p> */
.continue-with {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Стили для всего блока авторизации */
.auth-block {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #f6f6f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
